* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
        }
        #box {
            width: 60rem;
            // height: 18rem;
            background-color: rgba(75, 73, 73, 0.382);
            backdrop-filter: blur(3px);
            border-radius: 30px;
            margin-top: auto;
            margin-bottom: 4rem;
            border: 0.5px solid rgba(255, 255, 255, 0.21);
            padding: 40px;
            position: relative;
            #wkeys {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                .whitekey {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding-bottom: 0.8rem;
                    width: 4rem;
                    height: 13rem;
                    background-color: rgba(156, 194, 219, 0.283);
                    backdrop-filter: blur(2px);
                    border-radius: 15px;
                }
                .whitekey:active {
                    scale: 0.95;
                }
                .whitekey.active {
                    scale: 0.95;
                }
            }

            #bkeys {
                position: absolute;
                top: 2.5rem;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 2.5rem; 

                .blackkey {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding-bottom: 0.8rem;
                    color: rgba(255, 255, 255, 0.676);
                    width: 2rem;
                    height: 7rem;
                    background-color: rgba(13, 13, 14, 0.283);
                    backdrop-filter: blur(20px);
                    border-radius: 10px;
                }
                .blackkey:active {
                    scale: 0.95;
                }
                .blackkey.active {
                    scale: 0.95;
                }
            }
        }
    }
}